.footer{
    background-color: #1f1f1f;
    width: 100%;
}
.footer__container--1{
    border-right: 2px solid;
    padding-left: 100px;
    margin: 20px;
}

.footer__container--2{
    border-right: 2px solid;
    padding-right: 200px;
    margin: 20px;
}
.footer__container--3{

    margin: 20px;
}
.social{
    width: 40px;
    height: 40px;
    margin: 10px;
}

.footer__container--3-img{
    width: 125px;
    height: 75px;
}
.footer__container--1 a{
    color: #616161;
    text-decoration: none;
}

.footer__container--2-ul{
    list-style: none;
    display: block;
}
.footer__container--2 a{
    color: #616161;
    text-decoration: none;
}

.footer__container--3 a{
    color: #616161;
    text-decoration: none;
}
.footer__container a:hover{
    color: white;
    transition: .2s;
}

@media all and (max-width: 780px){

    .footer__container a{
        color: #616161;
        text-decoration: none;
    }
    .footer__container--1, .footer__container--3{
        border-bottom: 2px solid ;
        padding-left: 40px;
        padding-right: 40px;
        padding-top: 20px;
        margin: 0;
        width: 100%;
    }
    
    .footer__container--2{
        border-bottom: 2px solid;
        padding-right: 200px;
        margin: 0;
        width: 100%;
        padding: 30px;
    }
    .footer__container--3 img{
        height: 25%;
    }
}