
<!--<div class="menu" fxLayoutAlign="center" fxHide.xs fxHide.sm>
    <ul>
        <div class="menu__list" fxLayout="row wrap">
            <li routerLinkActive="active"><a class="menu_list--option-1" [routerLink]="['/index']"><img src="./../../../assets/images/icon/pngwing.com.png" alt="">Inicio</a></li>
            <li routerLinkActive="active"><a class="menu_list--option-2" [routerLink]="['/pokedex']"><img src="./../../../assets/images/icon/pngwing.com.png" alt="">Pókedex</a></li>
            <li routerLinkActive="active"><a class="menu_list--option-3" [routerLink]="['/aplications']"><img src="./../../../assets/images/icon/pngwing.com.png" alt="">aplicaciones</a></li>
            <li routerLinkActive="active"><a class="menu_list--option-4" [routerLink]="['/tradingcardgame']"><img src="./../../../assets/images/icon/pngwing.com.png" alt="">Juego</a></li>
            <li routerLinkActive="active"><a class="menu_list--option-5" [routerLink]="['/tvpokemon']"><img src="./../../../assets/images/icon/pngwing.com.png" alt="">TV Pokémon</a></li>
            <li routerLinkActive="active"><a class="menu_list--option-6" [routerLink]="['/playpokemon']"><img src="./../../../assets/images/icon/pngwing.com.png" alt="">Play! Pokémon</a></li>
        </div>
    </ul>
</div>

<div class="menu__responsive" fxHide.lg fxHide.md fxHide.xl fxHide.gt>
    <ul>
        <div class="menu-responsive__list">
              <li routerLinkActive="active"><a class="menu_list--option" [routerLink]="['/index']">Inicio</a></li>
              <li routerLinkActive="active"><a class="menu_list--option" [routerLink]="['/pokedex']">Pókedex</a></li>
              <li routerLinkActive="active"><a class="menu_list--option" [routerLink]="['/aplications']">Videojuegos y aplicaciones</a></li>
              <li routerLinkActive="active"><a class="menu_list--option" [routerLink]="['/tradingcardgame']">Juego de cartas</a></li>
              <li routerLinkActive="active"><a class="menu_list--option" [routerLink]="['/tvpokemon']">TV Pokémon</a></li>
              <li routerLinkActive="active"><a class="menu_list--option" [routerLink]="['/playpokemon']">Play! Pokémon</a></li>
        </div>
    </ul>
</div>!-->

<nav>
    <div class="menu" fxLayoutAlign="center">
    <div class="menu__list">
        <input id="nav-toggle" type="checkbox">
        <ul class="menu__list--links">
            <li routerLinkActive = "active"><a class="menu_list--option-1" [routerLink]="['/index']">Inicio</a></li>
            <li routerLinkActive = "active"><a class="menu_list--option-2" [routerLink]="['/pokedex']">Pokedex</a></li>
            <li routerLinkActive = "active"><a class="menu_list--option-3" [routerLink]="['/aplications']">Videojuegos y aplicaciones</a></li>
            <li routerLinkActive = "active"><a class="menu_list--option-4" [routerLink]="['/tradingcardgame']">Juego de cartas</a></li>
            <li routerLinkActive = "active"><a class="menu_list--option-5" [routerLink]="['/tvpokemon']">Play! Pokémon</a></li>
        </ul>
    </div>
</div>
<label for="nav-toggle" class="icon-burger">
    <div class="line"></div>
    <div class="line"></div>
    <div class="line"></div>
</label>
</nav>


