<div class="container">
    <div class="container__header">
        <ul>
            <li routerLinkActive="active"><a [routerLink]="['/index']"><img src="./../../../assets/images/header/logo-pokemon-79x45.png" alt=""></a></li>
            <li routerLinkActive="active"><a [routerLink]="['/tradingcardgame']"><img src="./../../../assets/images/header/logo-tcgo-79x45-es.png" alt=""></a></li>
            <li class="container__header--lihover" *ngFor="let link of links"><a href="{{ link.href }}"><img src="{{link.img}}" alt=""></a></li>
        </ul>
    </div>
</div>
