<div class="login">
    <div class="login__i">
        <a [routerLink]="['/playpokemon']"><img  class="login__i-a" src="./../../../../assets/images/navigation/profile-nav-avatar.png" alt="">        </a>
    </div>
    <img class="login__bottom"src="./../../../../assets/images/navigation/profile-nav-search-bg.png" alt="">
</div>

  <div class="gallery ">
    <div class="gallery__item-1">
        <img class="gallery__item--1-img"src="./../../../../assets/images/gallery/swsh07-preview-cards-169-es.jpg" alt=""><br>
        <span class="gallery__item-title">Las evoluciones de Eevee y un montón de Pokémon de tipo Dragón en Espada y Escudo-Cielos-Evolutivos</span>
    </div>
    <div class="gallery__item-2 left">
        <img class="gallery__item--2-img" src="./../../../../assets/images/gallery/hoenn-169.jpg" alt=""><br>
        <span class="gallery__item-title">Demuestra lo bien que conoces la región de Hoen</span><br>
    </div>
    <div class="gallery__item-3">
        <img class="gallery__item--3-img" src="./../../../../assets/images/gallery/hoenn-169.gif" alt="">
        <span class="gallery__item-title">Únete a los entrenadores Pokémon</span>
    </div>
    <div class="gallery__item-4 right">
        <img class="gallery__item--4-img" src="./../../../../assets/images/gallery/pokemon-unite-169.jpg" alt="">
        <span class="gallery__item-title">¡Pokémon UNITE ya en Nintendo Switch!</span>
    </div>
</div>  





